venv/
build/
dist/
dist_*/
__pycache__/
*.pyc
*.log
old*/
temporal/
*.bak
startup_error.log
run_output.txt
ahba_cache/
neuromaps_cache/
ahba_cache/
neuromaps_cache/
cbig_network_correspondence_data/
white_matter_atlases/
neurosynth_cache/
mni_templates/
abagen-data/
cli_demo/
temp/
CL_version/
assets/associatedpapers
assets/associatedpapers/
*.psd
assets/ChatGPT Image*
